/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
   
/* ----我是分隔----- */
body {
  margin: 0;
}

#app {
  /* background-color: #565957; */
  background-color: black;
  height: 85vh;
  display: flex;
  justify-content: center;
}

#app table {
  align-self: center;
  border-collapse: collapse;
}

#app table tr td:not(:last-child) {
  border-right: 12px solid gray;
}

#app table tr:not(:last-child) td {
  border-bottom: 12px solid  gray;
}

#app table tr td {
  height: 120px;
  width: 120px;
  text-align: center;
}

#app table tr td div {
  font-size: 80px;
  font-weight: 700;
}

#app table tr td .circle::after {
  content: "○";
  color: rgba(121, 247, 207, 0.6);
}

#app table tr td .cross::after {
  content: "✕";
  color: rgba(255, 115, 50, 0.6);
}


.footer{
  /* background-color: #FFD366  ; */
  font-size: 15px;
  text-align: center;
  background-color: black;
  color: #4A4A4A ;
  padding: 20px 0px;
  border-radius:  0px 0px 10px 10px;
}


/* ----我是分隔----- */